.justify-start {
    justify-self: start;
}

.justify-center {
    justify-self: center;
}

.justify-end {
    justify-self: end;
}

.justify-stretch {
    justify-self: stretch;
}

.align-start {
    align-self: start;
}

.align-center {
    align-self: center;
}

.align-end {
    align-self: end;
}

.align-stretch {
    align-self: stretch;
}

.hide {
    display: none !important;
}

.disabled {
    pointer-events: none;
    filter: grayscale(0.5);
    opacity: 0.8;
    user-select: none;
}
