@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using NE.Standard.Design.Data
@using NE.Standard.Web.Components
@using NE.Standard.Web.Renderer
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@inject INEApp NEApp

@page "/{*link}"

@code {
#if DEBUG
    private const string CssPath = "_content/NE.Standard.Web/css/app.css";
    private const string JsPath = "_content/NE.Standard.Web/js/dist/app.js";
#else
    private const string CssPath = "_content/NE.Standard.Web/css/app.min.css";
    private const string JsPath = "_content/NE.Standard.Web/js/dist/app.min.js";
#endif
}

<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        @((MarkupString)CssGenerator.GenerateRootCss(NEApp.DefaultStyle))
    </style>
    <link rel="stylesheet" href="@CssPath" />
</head>

<body>
    <AppHost @rendermode=InteractiveServer />
    <script type="module" src="@JsPath"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>